
<header id="header">
    <div class="inner">

        <!-- Nav -->
            <nav>
                <ul>
                    <li><NavLink href="#menu">Meny</NavLink></li>
                </ul>

            </nav>

    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Meny</h2>
    <ul>
        <li><NavLink href="/"><i class="bi fas fa-birthday-cake"></i>Forside</NavLink></li>
        <li><NavLink href="/bestill"><i class="bi fas fa-shopping-cart"></i>Bestill</NavLink></li>
        <li><NavLink href="/tilbakemeldinger"><i class="bi fas fa-pencil"></i>Tilbakemeldinger</NavLink></li>
    </ul>
</nav>


