
<header id="header">
    <div class="inner">

        <!-- Nav -->
            <nav>
                <ul>
                    <li><NavLink href="#menu">Menu</NavLink></li>
                    
                </ul>

            </nav>

    </div>
</header>

<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="/bestill">Bestill</NavLink></li>
        <li><NavLink href="/weather">Weather</NavLink></li>
        <li><NavLink href="/counter">Counter</NavLink></li>
    </ul>
</nav>


